version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: devops_mock_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: devops_mock
      TZ: Europe/Moscow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  bot:
    build: .
    container_name: devops_mock_bot
    depends_on:
      db:
        condition: service_healthy
    environment:
      - TZ=Europe/Moscow
    env_file:
      - .env
    volumes:
      - ./:/app
    working_dir: /app
    restart: unless-stopped

volumes:
  postgres_data:

